---
const {customClass, type = "default", route} = Astro.props;
---

<div id={type} class=`p-10 card ${customClass}` data-route={route}>
    <slot/>
</div>

<script>
    const card = document.getElementById("linked");
    card.addEventListener('click', () => {
        window.location.href = card.dataset.route;
    });
</script>
